# Webhook do Google Apps Script para salvamento de leads no Google Sheets (/analise)
LEAD_WEBHOOK_URL="https://script.google.com/macros/s/AKfycbzHkfxvU5PjBWKCAGuARUGITmMJXF9DI3uV4nI95d64IV28Mdb6LFBp4IVsAD3AsNT8/exec"

# Webhook do Google Apps Script para leads da LIVE (/live)
LIVE_LEAD_WEBHOOK_URL="https://script.google.com/macros/s/AKfycbweqJQKCxixZSvPE0O6cWAyA8doLvt0K-T8uWc_5-jHd6iyiHLliYOthlPByxMlYz3Myw/exec"

# Link do Grupo Oficial de Avisos do WhatsApp (Live)
NEXT_PUBLIC_WHATSAPP_GROUP_URL="https://chat.whatsapp.com/DVGq6G1xRo35hPB6rF5oZN?s=cl&p=i&mlu=0&amv=1"
